*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
a{
    text-decoration: none;
    color: white;
}

ul,ol{
    list-style-type: none;
}

.container{
    height: 60px;
    background-color:#0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    column-gap: 20px;
    padding-top: 15px;
    padding-bottom: 15px;

}

.border{
    border: 2px solid transparent;
}
.border:hover{
    border: 2px solid rgb(255, 255, 255);
}

/*===========BOX1-======*/
.nav-logo{
    height: 50px;
    width: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    height: 50px;
    width: 110px;
    background-image: url(./images/amazon_logo.png);
    background-size:cover;
    font-size: 1.5rem;
}

/*========BOX2=======*/

.nav-location{
    height: 50px;
    width: 112px;
    margin-top: 10px;
    /* padding: 9px;     */
}
.paragraph-1{
    /* margin-top: 13px; */
    margin-left: 17px;
    font-size: .7rem;
    font-weight: 500;
}
.paragraph-2{
    font-size: .9rem;
    font-weight: 600;
}

/*========BOX3=====*/
.nav-search{
    height: 50px;
    width: 580px;
    display: flex;
    justify-content: center;
    align-items: center;
}
select{
    width: 50px;
    height: 50px;
    background-color: #d9d5d5;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border:none;
    text-align: center;
    padding: 2px;
}
input{
    width: 80%;
    height: 50px;
    padding-left: 6px;
    font-size: 1rem;
    border: none;
}

.nav-search:hover{
    border: 2px solid orange;
}

.icon{
    width: 50px;
    height: 50px;
    background-color:orange;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    font-size: 1.6rem;
    color: black;
    align-items: center;
    justify-content: center ;
    border: none;
}
/*=========BOX4========*/
.nav-details span{
    font-size: .8rem;
    font-weight: 500;
}
.nav-details a {
    display: block;
    font-size: 1rem;
    font-weight: 700;
}
.nav-cart p i{
    font-size:40px;
}
.nav-cart p a{
    font-size: 1rem;
    font-weight: 700;
}
/*=========main======*/
.pannel{
    height: 40px;
    background-color: #232f3e;
    display: flex;
    align-items: center;
    column-gap: 25px;

}
.pannel-menu{
    display: flex;
    align-items: center;
    padding: 8px 9px;
    margin-left: 8px;
    /* align-items: center; */
}
.pannel-menu i{
    font-size: 1.4rem;
    color: white;
}
.pannel-menu a{
    font-size: .9rem;
    margin-top: 5px;
    font-weight: 600;
    padding: 0 0 0 5px;
    text-align: center;
}
.pannel-items ul li a{
    font-size: .9rem;
    font-weight: 600;
    padding: 8px 9px;
}
.pannel-items ul {
    display: flex;
    /* align-items: center; */
    column-gap: 10px;
}
/*======hero-section=====*/
.hero-section{
    height: 450px;
    width: 100%;
    background-color: green;
}
.hero-img{
    height: 450px;
    width: 100%;
    background-image: url(./images/hero-section.jpg);
    background-size:cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;

}
.hero-msg{
    height: 40px;
    width: 97%;
    background-color: rgb(255, 252, 252);
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}
.hero-msg p a{
    color: #007185;
    font-weight: 700;
}

/*======shopping-section=====*/

.shopping-item{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* margin-top: 10px; */
    background-color:  #e2e7e6;

}
.box{
   height: 360px;
   width: 23%;
   margin-bottom:10px;
   margin-top: 10px;
   background-color: white;
   border: 1px solid rgb(240, 239, 239);
   /* background-color: rgb(255, 0, 89); */
}

.box-content{
    padding: 20px;
}

.box-content h2 {
    text-transform: capitalize;
    font-size: 1rem;
    font-weight: 600;
    /* margin-bottom: 8px; */
}
.content-img{
    height:250px ;
    background-size:contain;
    background-repeat: no-repeat;
    border: 1px solid rgb(240, 239, 239);
    margin: 10px 0 10px 0;
}
.box-content a{
    color: #007185;
    font-weight: 300;
}
/*==========footer-pannel1=======*/
.footer-pannel1{
    height: 45px;
    background-color: #37475a;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .9rem;
}
.footer-pannel2{
    height: 300px;
    background-color: #222f3d;
    color:white;
}
.contents{
    display: flex;
    justify-content: space-evenly;
    padding-top: 50px;
}
.contents ul a{
    display: block;
    margin-top: 10px;
    font-size: .9rem;
    color: #DDDDDD;
}
.contents p{
    font-size: 1rem;
    font-weight: 600;
}

.footer-pannel3{
    height: 70px;
    background-color:#222f3d;
    border-top: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    /* color: white; */
}

.footer-logo{
    height: 60px;
    width: 100px;
    background-image: url(./images/amazon_logo.png);
    background-size: cover;
}
.footer-pannel4{
    height: 80px;
    background-color: #0f1111;
    color: white;
    font-size: .8rem;
    text-align: center;
    text-transform: capitalize;
    padding-top: 20px;
}
.pannel4-list ul a{
    padding: 15px;
}
.pannel4-list{
    padding-bottom: 10px;
}
.footer-pannel4 span{
    padding-top: 9px;
}